* {
    font-family: "Symbols Nerd Font", "Hack Nerd Font Mono";
    font-weight: 500;
    font-size: 20px;
}

window#waybar {
    background: #24273a;
}

tooltip {
    background-color: #24273a;
    border: 2px solid #c6a0f6;
    border-radius: 8px;
}

tooltip label {
    margin: 4px;
}

#custom-launcher {
    font-size: 28px;
    margin-left: 14px;
    margin-top: 4px;
}

#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#language,
#clock,
#backlight,
#workspaces button {
    color: #cad3f5;
    background-color: #1e2030;
    border: 2px solid #494d64;
    border-radius: 6px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#language,
#clock,
#backlight {
    margin: 5px 0;
    padding: 4px 8px;
}

#battery.warning {
    border-color: #f5a97f;
}

#cpu.critical,
#battery.critical {
    border-color: #ed8796;
}

#workspaces button {
    margin: 2px 5px;
    padding: 4px 0px;
}

#workspaces button.active {
    border-color: #c6a0f6;
}

#workspaces {
    margin-top: 8px;
}

#tray {
    margin: 0px 5px 10px;
    padding: 16px 0px;
}

#battery {
    margin-right: 10px;
}

#taskbar {
}

#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#language:hover,
#clock:hover,
#backlight:hover,
#workspaces button:hover {
    border-color: #c6a0f6;
}
