* {
    font-family: "Symbols Nerd Font", "Hack Nerd Font Mono";
    font-weight: 500;
    font-size: 20px;
}

window#waybar {
    background: #24273a;
}

tooltip {
    background-color: #24273a;
    border: 2px solid #c6a0f6;
    border-radius: 8px;
}

tooltip label {
    margin: 4px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#language,
#clock,
#backlight,
#workspaces button {
    margin: 3px 0 3px;
    padding: 4px 8px;
    color: #cad3f5;
    background-color: #1e2030;
    border: 2px solid #494d64;
    border-radius: 6px;
}

#workspaces button {
    margin-right: 2px;
}

#workspaces button.active {
    border-color: #c6a0f6;
}

#battery.warning {
    border-color: #f5a97f;
}

#cpu.critical,
#battery.critical {
    border-color: #ed8796;
}

#custom-launcher {
    font-size: 28px;
    margin-left: 18px;
}
