* {
    font-family: "Symbols Nerd Font", "Hack Nerd Font Mono";
    font-size: 18px;
}

window#waybar {
    background: #24273a;
}

tooltip {
    background-color: #24273a;
    border: 2px solid #c6a0f6;
    border-radius: 6px;
}

tooltip label {
    margin: 4px;
}

#tray,
#workspaces button,
#cpu,
#language,
#pulseaudio,
#backlight,
#battery,
#clock {
    color: #cad3f5;
    background-color: #1e2030;
    border: 2px solid #494d64;
    border-radius: 6px;
}

#workspaces button,
#tray,
#cpu,
#language,
#pulseaudio,
#backlight,
#battery,
#clock {
    margin: 5px;
    padding: 10px 3px;
}

#tray {
  margin-top: 10px;
}

#workspaces {
  margin-top: 20px;
}

#clock {
    margin-bottom: 10px;
}

#workspaces button * {
    font-size: 24px;
}

#workspaces button.active {
    border-color: #c6a0f6;
}

#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#language:hover,
#clock:hover,
#backlight:hover,
#workspaces button:hover {
    border-color: #c6a0f6;
    background-color: #363a4f;
}

#battery.20 {
    border-color: #f5a97f;
}

#cpu.critical,
#battery.10 {
    border-color: #ed8796;
}

#battery.charging {
    border-color: #494d64;
}
