* {
  font-family: "Symbols Nerd Font", "Myna";
  font-size: 22px;
}

window#waybar {
  background: #24273a;
  border-radius: 10px;
}

tooltip {
  background-color: #24273a;
  border: 2px solid #c6a0f6;
  border-radius: 6px;
}

tooltip label {
  margin: 4px;
}

#tray,
#workspaces button,
#cpu,
#language,
#pulseaudio,
#backlight,
#battery,
#clock {
  color: #cad3f5;
  background-color: #1e2030;
  border: 2px solid #494d64;
  border-radius: 6px;
}

#tray,
#cpu,
#language,
#pulseaudio,
#backlight,
#battery,
#clock {
  margin: 3px;
  padding: 0px 10px;
}

#workspaces {
  margin: 0px;
  margin-left: 15px;
}

#battery {
  margin-right: 15px;
}

#workspaces button {
  margin: 3px;
  padding: 0px 13px 0px 10px;
}

#workspaces button.active {
  border-color: #c6a0f6;
}

#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#language:hover,
#clock:hover,
#backlight:hover,
#workspaces button:hover {
  border-color: #c6a0f6;
  background-color: #363a4f;
}

#battery.20 {
  border-color: #f5a97f;
}

#cpu.critical,
#battery.10 {
  border-color: #ed8796;
}

#battery.charging {
  border-color: #494d64;
}
