#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Bluetui (Bluetooth manager)
Exec=/home/dzesen/.dotfiles/configs/foot/open-bluetui.sh
Icon=/home/dzesen/.dotfiles/configs/foot/apps/bluetooth-icon.svg
Comment=Open bluetui, bluetooth tui manager.
